# Enable/Disabl default Authentication Features
ENABLE_DEFAULT_AUTH=false # Set to 'true' to enable default authentication

# Enable/Disable ZITADEL Authentication Features
ENABLE_ZITADEL_AUTH=true  # Set to 'true' to enable ZITADEL authentication

# ZITADEL Configuration
PUBLIC_ZITADEL_CLIENT_ID="your-zitadel-client-id" # client ID of ZITADEL application
PUBLIC_ZITADEL_AUTHORITY="https://your-zitadel-authority-url" #base URL of  ZITADEL instance
PUBLIC_ZITADEL_REDIRECT_URI="http://redirecturi/post-authorization/" #URL where users are redirected after logging in with ZITADEL
PUBLIC_ZITADEL_LOGOUT_REDIRECT_URI="http://redirecturi/" #URL where users are redirected after logging out
PUBLIC_ZITADEL_ORGANIZATION_ID="your-zitadel-organization-id" #ID of organization within ZITADEL
PUBLIC_ZITADEL_PROJECT_ID="your-zitadel-project-id" #ID of the ZITADEL project associated with authentication system
PUBLIC_ZITADEL_API_TOKEN=xxxxxxxxxxxxxx #organization specific ZITADEL token
# GITHub
PUBLIC_GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxx
PUBLIC_GITHUB_REPO_NAME=xxxxxxxxxxx
PUBLIC_GITHUB_OWNER_NAME=xxxxx


#Qualityfolio
PUBLIC_QUALITYFOLIO_URL="xxxxxxx"

# TEAM DB Configuration
PUBLIC_TEAM_DB="dbpath/file.db"
ENABLE_DB_TEAM=true # Set to 'true' to enable

# LForm DB Configuration
PUBLIC_LFORM_DB = "src/content/db/lforms/resource-surveillance.sqlite.db"
PUBLIC_RSSD_DB = "src/content/db/rssd/resource-surveillance.sqlite.db"
#I-map details

ENABLE_IMAP_DB_PREPARE=true # Enable IMAP database preparation
ENABLE_IMAP_VIEW=true # Enable IMAP view to ingest and display mail content
PUBLIC_IMAP_DB="src/content/db/imap-mail-db/resource-surveillance.sqlite.db" # Path to the SQLite database file (Do not change this path)
# IMAP Configuration
IMAP_FOLDER=Inbox
IMAP_USER_NAME=your-email@example.com
IMAP_PASS=your-password
IMAP_HOST=imap.example.com

PUBLIC_OPENOBSERVE_URL=xxxxxxxxxxx
PUBLIC_OPENOBSERVE_TOKEN=xxxxxxxxxxx

# Support and Feedback widget
PUBLIC_NOVU_API_URL="novu-api-url"
PUBLIC_NOVU_SUBSCRIBER_ID="your-subscriber-id"
PUBLIC_NOVU_API_KEY="your-api-key"
PUBLIC_NOVU_CONTACTUS_TEMPLATE="contact-us-template"
PUBLIC_NOVU_CONTACTUS_ADMIN_EMAIL="admin-email"
PUBLIC_NOVU_ADMIN_TEMPLATE="novu-admin-template-id"
PUBLIC_GITHUB_PAT = "your-personal-access-token"
PUBLIC_GITHUB_OWNER = "your-github-username"
PUBLIC_GITHUB_REPO = "your-repository-name"
ENABLE_SUPPORT_AND_FEEDBACK=true
PUBLIC_PRODUCTION_URL="https://demo.hub.opsfolio.com" # url of respective site