---
import { Breadcrumbs } from "astro-breadcrumbs";
import TeamDetails from "../../components/teams/teamDetails";
import Layout from "../../layouts/Layout.astro";
import "astro-breadcrumbs/breadcrumbs.css";
---

<Layout>
  <div class="min-h-screen h-full">
    <div class="m-6">
      <Breadcrumbs
        linkTextFormat="capitalized"
        ariaLabel="Site navigation"
        separatorAriaHidden={false}
      >
        <svg
          slot="separator"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><polyline points="9 18 15 12 9 6"></polyline>
        </svg>
      </Breadcrumbs>
    </div>

    <TeamDetails client:only="react" />
  </div>
</Layout>
