---
import CommentLog from "./commentLog";
import CommentService from "../../components/comment/commentService";

const path = Astro.url.pathname;
const comments = await CommentService.getComments(path);
const activities = await CommentService.getActivityLogs(path);
const user = Astro.cookies.get("zitadel_user_id")
const commentData = [...activities, ...comments];
commentData.sort((a, b) => {
  return new Date(a.timestamp).getTime() - new Date(b.timestamp).getTime();
});
const {source,activityTitle,discussionEnabled}=Astro.props

---
{user && user.value && discussionEnabled ? (
  <CommentLog
    data={commentData}
    url={path}
    source={source}
    activityTitle={activityTitle}
    client:only="react"
  />
) : (
 
    <p class="text-md mt-1">You must be logged in to view comments.</p>

)}