---
import Layout from "../layouts/Layout.astro";
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";
---

<Layout title="LForms">
  <main class="max-w-full mx-auto min-h-[70vh] grid grid-cols-12 gap-6">
    <div
      class="col-span-12 md:col-span-4 lg:col-span-3 xl:col-span-2 bg-white dark:bg-gray-800 p-3 shadow-xs"
    >
      <!-- Left Menu Content Goes Here -->
    </div>
    <div
      class="col-span-12 md:col-span-8 lg:col-span-9 xl:col-span-10 pb-5 pt-0 md:pt-5 px-5 md:px-0 md:pr-5 dark:text-gray-300"
    >
      <Breadcrumbs
        linkTextFormat="capitalized"
        ariaLabel="Site navigation"
        separatorAriaHidden={false}
      >
        <svg
          slot="separator"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><polyline points="9 18 15 12 9 6"></polyline>
        </svg>
      </Breadcrumbs>
      <div class="border-b border-slate-300 dark:border-gray-600 pb-3">
        <h1
          class="text-2xl lg:text-4xl font-bold text-slate-700 dark:text-gray-300 mt-4 mb-1"
        >
         Cache cleared
        </h1>
      </div>
    </div>
    <script>
      function clearAllData() {
        // Clear Local Storage
        localStorage.clear();

        // Clear Session Storage
        sessionStorage.clear();

        // Clear Cookies
        document.cookie.split(";").forEach((cookie) => {
          document.cookie = cookie
            .replace(/^ +/, "")
            .replace(/=.*/, `=; expires=${new Date(0).toUTCString()}; path=/`);
        });

        // Clear IndexedDB
        window.indexedDB.databases().then((databases) => {
          databases.forEach((db) => {
            if (db.name) {
              window.indexedDB.deleteDatabase(db.name);
            }
          });
        });

        // Clear Cache Storage
        if ("caches" in window) {
          caches.keys().then((names) => {
            names.forEach((name) => caches.delete(name));
          });
        }

        console.log(
          "✅ All session, cookies, localStorage, IndexedDB, and cache data cleared!"
        );
        // window.location.href = "/";
      }

      // Call the function to clear all data
      clearAllData();
    </script>
  </main>
</Layout>

