---
import Layout from '../layouts/Layout.astro';

---
<Layout>
	<main class="max-w-screen-2xl mx-auto px-4 sm:px-6 lg:px-8 py-6 min-h-[70vh">
		<div class="border-b border-slate-300 pb-3">
		<h1 class="text-2xl lg:text-4xl font-bold text-slate-700 mt-2">Welcome to Product ABC Hub</h1>
		<p class="text-slate-500 mt-1 font-semibold">Welcome to the Expectations and Outcomes hub of Product ABC. This is your go-to resource to all activities regarding XYZ products.</p>
	  </div>
	
		<section class="grid grid-cols-1 lg:grid-cols-12 gap-4 mt-6">
		  <div class="lg:col-span-6 bg-white shadow rounded-lg p-4">
	
			<aside class="grid grid-cols-12 gap-4 flex items-center mb-3">
			  <div class="col-span-12 md:col-span-4">
				<div class="flex gap-2.5 items-center text-sm">
				  <span><img src="/assets/images/fi-rr-calendar.svg" class="w-4 h-4" alt=""></span>
				  <span>Timeline</span>
				</div>
			  </div>
			  <div class="col-span-12 md:col-span-8">
				<div class="flex gap-1.5 font-semibold flex-wrap">
				  <span class="bg-gray-100 text-sm px-2 py-1 rounded">Q1 2025</span>
				  <span class="text-sm px-2 py-1 rounded">Q2 2025</span>
				</div>
			  </div>
			</aside>
	
			<aside class="grid grid-cols-12 gap-4 flex items-center mb-3">
			  <div class="col-span-12 md:col-span-4">
				<div class="flex gap-2.5 items-center text-sm">
				  <span><img src="/assets/images/fi-rr-list-check.svg" class="w-4 h-4" alt=""></span>
				  <span>Stage</span>
				</div>
			  </div>
			  <div class="col-span-12 md:col-span-8">
				<div class="flex space-x-2 font-semibold">
				  <span class="bg-orange-100 text-sm px-2 py-1 rounded flex space-x-2 items-center">
					<span><img src="/assets/images/ico-progress.svg" alt=""></span>
					<span>In Progress</span>
				  </span>
				</div>
			  </div>
			</aside>
	
			<aside class="grid grid-cols-12 gap-4 flex items-center mb-3">
			  <div class="col-span-12 md:col-span-4">
				<div class="flex gap-2.5 items-center text-sm">
				  <span><img src="/assets/images/fi-rr-user.svg" class="w-4 h-4" alt=""></span>
				  <span>Team Driver</span>
				</div>
			  </div>
			  <div class="col-span-12 md:col-span-8">
				<div class="flex gap-3 font-semibold flex-wrap">
				  <div class="text-sm rounded flex space-x-2 items-center">
					<span class="rounded-full overflow-hidden w-4 h-4"><img src="/assets/images/avatar-img-1.jpg" alt=""></span>
					<span>Thomas Adams</span>
				  </div>
				</div>
			  </div>
			</aside>
	
			<aside class="grid grid-cols-12 gap-4 flex items-center mb-3">
			  <div class="col-span-12 md:col-span-4">
				<div class="flex gap-2.5 items-center text-sm">
				  <span><img src="/assets/images/users.svg" class="w-4 h-4" alt=""></span>
				  <span>Eng Leads</span>
				</div>
			  </div>
			  <div class="col-span-12 md:col-span-8">
				<div class="flex gap-3 font-semibold flex-wrap">
				  <div class="text-sm rounded flex space-x-2 items-center">
					<span class="rounded-full overflow-hidden w-4 h-4"><img src="/assets/images/avatar-img-1.jpg" alt=""></span>
					<span>George Roberts</span>
				  </div>
				  <div class="text-sm rounded flex space-x-2 items-center">
					<span class="rounded-full overflow-hidden w-4 h-4"><img src="/assets/images/avatar-img-1.jpg" alt=""></span>
					<span>Daniel Hill</span>
				  </div>
				</div>
			  </div>
			</aside>
	
			<aside class="grid grid-cols-12 gap-4 flex items-center mb-3">
			  <div class="col-span-12 md:col-span-4">
				<div class="flex gap-2.5 items-center text-sm">
				  <span><img src="/assets/images/fi-rr-rec.svg" class="w-4 h-4" alt=""></span>
				  <span>XYZ Teams</span>
				</div>
			  </div>
			  <div class="col-span-12 md:col-span-8">
				<div class="flex gap-1.5 font-semibold flex-wrap">
				  <span class="bg-red-100 text-sm px-2 py-1 rounded">Brand</span>
				  <span class="bg-indigo-100 text-sm px-2 py-1 rounded">External Vendors</span>
				  <span class="bg-red-200 text-sm px-2 py-1 rounded">Events</span>
				  <span class="bg-orange-100 text-sm px-2 py-1 rounded">DS</span>
				  <span class="bg-green-100 text-sm px-2 py-1 rounded">MOPs</span>
				</div>
			  </div>
			</aside>
	
			<aside class="grid grid-cols-12 gap-4 flex items-center mb-3">
			  <div class="col-span-12 md:col-span-4">
				<div class="flex gap-2.5 items-center text-sm">
				  <span><img src="/assets/images/fi-rr-record-vinyl.svg" class="w-4 h-4" alt=""></span>
				  <span>Priority</span>
				</div>
			  </div>
			  <div class="col-span-12 md:col-span-8">
				<div class="flex gap-1.5 font-semibold flex-wrap">
				  <span class="bg-orange-100 text-sm px-2 py-1 rounded">P1</span>
				</div>
			  </div>
			</aside>
	
			<aside class="grid grid-cols-12 gap-4 flex items-center mb-3">
			  <div class="col-span-12 md:col-span-4">
				<div class="flex gap-2.5 items-center text-sm">
				  <span><img src="/assets/images/fi-rr-plus.svg" class="w-4 h-4" alt=""></span>
				  <span>Add a property</span>
				</div>
			  </div>
			  <div class="col-span-12 md:col-span-8">
				
			  </div>
			</aside>
		  </div>
	
		  <div class="lg:col-span-3 bg-white shadow rounded-lg p-4">
			<h3 class="text-lg font-semibold text-slate-700">
			  <div class="flex gap-2 items-center text-xl">
				<span><img src="/assets/images/fi-rr-interactive.svg" class="w-6 h-6" alt=""></span>
				<span>Skip to...</span>
			  </div>
			</h3>
			<ul class="mt-2 space-y-0.5 font-semibold ml-8">
			  <li><a href="#" class="text-sm hover:text-black">Accomplishments</a></li>
			  <li><a href="#" class="text-sm hover:text-black">Latest Updates</a></li>
			  <li><a href="#" class="text-sm hover:text-black">Trackers</a></li>
			  <li><a href="#" class="text-sm hover:text-black">Meeting Notes</a></li>
			  <li><a href="#" class="text-sm hover:text-black">Workback Plan</a></li>
			  <li><a href="#" class="text-sm hover:text-black">Timesheet</a></li>
			  <li><a href="#" class="text-sm hover:text-black">Requests & Questions</a></li>
			  <li><a href="#" class="text-sm hover:text-black">Peoples Directory</a></li>
			</ul>
		  </div>
	
		  <div class="lg:col-span-3 bg-orange-100 shadow rounded-lg p-4">
			<h3 class="text-lg font-semibold text-slate-700">
			  <div class="flex gap-2 items-center text-xl">
				<span><img src="/assets/images/fi-rr-key.svg" class="w-6 h-6" alt=""></span>
				<span>Key Resources</span>
			  </div>
			</h3>
			<ul class="mt-2 space-y-0.5 font-semibold ml-8">
			  <li><a href="#" class="text-sm hover:text-black">All Project Updates</a></li>
			  <li><a href="#" class="text-sm hover:text-black">Mission, Vision, Values</a></li>
			  <li><a href="#" class="text-sm hover:text-black">Company Goals</a></li>
			  <li><a href="#" class="text-sm hover:text-black">Process Documentation</a></li>
			  <li><a href="#" class="text-sm hover:text-black">Accessibility Checklist</a></li>
			  <li><a href="#" class="text-sm hover:text-black">All Product Design Files</a></li>
			  <li><a href="#" class="text-sm hover:text-black">Messaging Documents</a></li>
			  <li><a href="#" class="text-sm hover:text-black">Media kit & Sponsor Assets</a></li>
			</ul>
		  </div>
		</section>
	
		<section class="mt-4 grid grid-cols-1 lg:grid-cols-12 gap-4">
	
		  <div class="lg:col-span-12 bg-white shadow rounded-lg p-4">
			<h3 class="text-lg font-semibold text-slate-700">
			  <div class="flex gap-2 items-center text-xl">
				<span><img src="/assets/images/fi-rr-interactive.svg" class="w-6 h-6" alt=""></span>
				<span>Accomplishments</span>
			  </div>
			</h3>
			<ul class="mt-2 space-y-0.5 font-semibold ml-8">
			  <li><a href="#" class="text-sm hover:text-black">Accomplishments</a></li>
			  <li><a href="#" class="text-sm hover:text-black">Latest Updates</a></li>
			</ul>
		  </div>
	
		  <div class="lg:col-span-6 bg-white shadow rounded-lg p-4">
			<h3 class="text-lg font-semibold text-slate-700">
			  <div class="flex gap-2 items-center text-xl">
				<span><img src="/assets/images/fi-rr-interactive.svg" class="w-6 h-6" alt=""></span>
				<span>Latest Updates</span>
			  </div>
			</h3>
			<ul class="mt-2 space-y-0.5 font-semibold ml-8">
			  <li><a href="#" class="text-sm hover:text-black">Accomplishments</a></li>
			  <li><a href="#" class="text-sm hover:text-black">Latest Updates</a></li>
			</ul>
		  </div>
	
		  <div class="lg:col-span-6 bg-white shadow rounded-lg p-4">
			<h3 class="text-lg font-semibold text-slate-700">
			  <div class="flex gap-2 items-center text-xl">
				<span><img src="/assets/images/fi-rr-bug.svg" class="w-6 h-6" alt=""></span>
				<span>Trackers</span>
			  </div>
			</h3>
			<ul class="mt-2 space-y-0.5 font-semibold ml-8">
			  <li><a href="#" class="text-sm hover:text-black">Product Bug Tracker</a></li>
			  <li><a href="#" class="text-sm hover:text-black">Product Reported Issues</a></li>
			  <li><a href="#" class="text-sm hover:text-black">Product XYZ Ongoing</a></li>
			  <li><a href="#" class="text-sm hover:text-black">Feedback</a></li>
			  <li><a href="#" class="text-sm hover:text-black">Product Support Tech Issues</a></li>
			</ul>
		  </div>
	
		  <div class="lg:col-span-6 bg-white shadow rounded-lg p-4">
			<h3 class="text-lg font-semibold text-slate-700">
			  <div class="flex gap-2 items-center text-xl">
				<span><img src="/assets/images/fi-rr-interactive.svg" class="w-6 h-6" alt=""></span>
				<span>Meeting Notes</span>
			  </div>
			</h3>
			<ul class="mt-2 space-y-0.5 font-semibold ml-8">
			  <li><a href="#" class="text-sm hover:text-black">Accomplishments</a></li>
			  <li><a href="#" class="text-sm hover:text-black">Latest Updates</a></li>
			</ul>
		  </div>
	
		  <div class="lg:col-span-6 bg-white shadow rounded-lg p-4">
			<h3 class="text-lg font-semibold text-slate-700">
			  <div class="flex gap-2 items-center text-xl">
				<span><img src="/assets/images/fi-rr-interactive.svg" class="w-6 h-6" alt=""></span>
				<span>Requests & Questions</span>
			  </div>
			</h3>
			<ul class="mt-2 space-y-0.5 font-semibold ml-8">
			  <li><a href="#" class="text-sm hover:text-black">Accomplishments</a></li>
			  <li><a href="#" class="text-sm hover:text-black">Latest Updates</a></li>
			</ul>
		  </div>
	
		  <div class="lg:col-span-12 bg-white shadow rounded-lg p-4">
			<h3 class="text-lg font-semibold text-slate-700">
			  <div class="flex gap-2 items-center text-xl">
				<span><img src="/assets/images/fi-rr-interactive.svg" class="w-6 h-6" alt=""></span>
				<span>Workback Plan</span>
			  </div>
			</h3>
			<ul class="mt-2 space-y-0.5 font-semibold ml-8">
			  <li><a href="#" class="text-sm hover:text-black">Accomplishments</a></li>
			  <li><a href="#" class="text-sm hover:text-black">Latest Updates</a></li>
			</ul>
		  </div>
	
		</section>
	</main>
</Layout>
