---
import UserLogout from "../components/zitadel/logout";
---

<link rel="stylesheet" href="/assets/ds/tailwind/css/basic.css" />
<link rel="stylesheet" href="/assets/ds/tailwind/css/tailwind.min.css" />
<link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg" />
<title>Logout - Expectations and Outcomes Hub Theme</title>
<UserLogout client:only="react" />
