---
import themeConfig from '../../theme.config';

const { logo, adminEmail } = themeConfig || {}; 
---
<div
    class="flex items-center justify-center min-h-screen bg-gray-100 dark:bg-gray-900"
>
    <div
        class="max-w-sm p-8 bg-white border border-yellow-300 rounded-lg shadow-lg dark:bg-gray-800 dark:border-yellow-500"
    >
        <div class="flex justify-center mb-6">
            <a href="/"><img src={logo} class="mr-3 h-10" alt="logo" /></a>
        </div>
        <h1
            class="text-2xl font-semibold text-center text-yellow-600 dark:text-yellow-400 mb-4"
        >
            Access Denied
        </h1>
        <p class="mb-3 text-lg font-normal text-gray-700 dark:text-gray-400">
            You don't have permission to access this website.
        </p>
        <p class="mb-3 text-lg font-normal text-gray-700 dark:text-gray-400">
            Please contact the administrator for assistance.
        </p>
        <p
            class="mt-4 text-center text-yellow-600 dark:text-yellow-400 font-semibold"
        >
            <a href="mailto:admin@opsfolio.com">{adminEmail}</a>
        </p>
    </div>
</div>
