---
const newFiles = import.meta.glob("/src/content/**/*.{md,mdx}", {
  eager: true,
});

const accomplishmentsList = Object.values(newFiles)
  .filter((file) => file.frontmatter?.home?.accomplishments?.category === "accomplishments") // Filter by category
  .map((file) => {
    // Remove the base path '/src/content' from the file path
    const relativePath = file.file
      .replace(/^.*\/src\/content/, '')  // Remove everything up to '/src/content'
      .replace('.md', '')               // Remove the '.md' extension
      .replace('.mdx', '');             // Remove the '.mdx' extension

    return {
      title: file.frontmatter?.title, // Get the title
      date: file.frontmatter?.date,   // Get the date
      path: `${relativePath}`         // Correct the path to be relative
    };
  })
  .filter((file) => file.title && file.path); // Ensure title, path, and date exist

---

{accomplishmentsList.length > 0 && (
  <div class="lg:col-span-12 bg-white shadow rounded-lg p-4">
    <h3 class="text-lg font-semibold text-slate-700">
      <div class="flex gap-2 items-center text-xl justify-between">
        <div class="flex gap-2 items-center"><span><img src="/assets/images/fi-rr-interactive.svg" class="w-6 h-6" alt="" /></span>
          <span>Accomplishments</span></div>
        
        <div><a href="/outcomes/milestone-achievements/achievements"><button
        type="button"
        class="rounded-md bg-white/10 px-2.5 py-1.5 text-sm font-semibold text-[#028db7] shadow-sm hover:bg-white/20 hover:text-black"
      >
        Read More
      </button></a></div>
      </div>
    </h3>
    <div class="mt-2 space-y-0.5 ml-8 markdown-content">
      <table class="border-collapse border border-gray-300 w-full">
        <thead>
          <tr class="bg-gray-100">
            <th class="border border-gray-300 px-4 py-2 text-left">Title</th>
            <th class="border border-gray-300 px-4 py-2 text-left">Date</th>
          </tr>
        </thead>
        <tbody>
          {accomplishmentsList.map((file) => (
            <tr  class="hover:bg-gray-50">
              <td class="border border-gray-300 px-4 py-2">
                <a href={file.path} class="text-blue-600 hover:underline">
                  {file.title}
                </a>
              </td>
              <td class="border border-gray-300 px-4 py-2">{file.date}</td>
            </tr>
          ))}
        </tbody>
      </table>
      
    </div>
  </div>
)}
